.botoncolor{
    background-color: rgb(255, 236, 205);
    border-color: rgb(101, 101, 101);
    color: rgb(46, 46, 46);
}

.botoncolor:hover{
    color: rgb(255, 209, 135);
    background-color: rgb(186, 27, 27);
}

.botoncolornumero{
    background-color: white;
    color: black;
    border-color: rgb(101, 101, 101);
}

.botoncolornumero:hover{
    background-color: white;
    color: black;
    border-color: rgb(101, 101, 101);
}